<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700|Kanit:700&amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script defer data-domain="tuulipukukoodi.fi" src="https://plausible.io/js/plausible.js"></script>
    <title>Tuulipukukoodi</title>
  </head>
  <body>
    <noscript>
      <strong>Tuulipukukoodin saitti tarvitsee ysäriltä tutun JavaScriptin toimiakseen.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
