<template>
  <div>
    <h2 class="subheading">Tilaa</h2>

    <h1>Tuulipukukoodi</h1>
    <h2 class="subheading mb-6">keikalle!</h2>

    <div class="sm:w-8/12 md:w-7/12 mx-auto xl:flex items-center xl:bg-purple-900 xl:my-8">
      <div class="w-full xl:w-6/12">
        <img alt="Tuulipukukoodi logo" src="../assets/logo.jpg" class="object-contain" />
      </div>

      <div
        class="w-full xl:w-6/12 mx-auto mt-10 mb-8 py-2 px-3 xl:py-0 xl:m-0 bg-purple-900"
      >Tuulipukukoodi on ysäristien oma talkoovoimin tuotettu nettiradio, jota voi kuunnella netissä kerran kuukaudessa suorina lähetyksinä ja uudelleen nauhoituksista aina silloin kun haluaa.</div>
    </div>

    </div>
  </div>
</template>
