<template>
  <div>
    <h1>Tuulipukukoodi</h1>
    <h2 class="subheading mb-6">nettiradio ysäristeiltä ysäristeille</h2>

    <div class="sm:w-8/12 md:w-7/12 mx-auto xl:flex items-center xl:bg-purple-900 xl:my-8">
      <div class="w-full xl:w-6/12">
        <img alt="Tuulipukukoodi logo" src="../assets/logo.jpg" class="object-contain" />
      </div>

      <div class="w-full xl:w-6/12 mx-auto mt-10 mb-8 py-2 px-3 xl:py-0 xl:m-0 bg-purple-900">
        Tuulipukukoodi on ysäristien oma talkoovoimin tuotettu nettiradio, jota voi kuunnella
        netissä kerran kuukaudessa suorina lähetyksinä ja uudelleen nauhoituksista aina silloin kun
        haluaa.
      </div>
    </div>

    <div class="sm:w-8/12 md:w-7/12 mx-auto">
      <iframe scrolling="no" id="hearthis_at_track_8389128" width="100%" height="150" src="https://app.hearthis.at/embed/8389128/transparent_black/?hcolor=&color=&style=2&block_size=2&block_space=1&background=1&waveform=0&cover=0&autoplay=0&css=" frameborder="0" allowtransparency allow="autoplay"><p>Listen to <a href="https://hearthis.at/tuulipukukoodi/tpks07e03edit/" target="_blank">Tuulipukukoodi S07E03</a> <span>by</span><a href="https://hearthis.at/tuulipukukoodi/" target="_blank" >Tuulipukukoodi</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe>

      <p>
        Tsekkaa myös
        <a href="https://hearthis.at/tuulipukukoodi/">kaikki aiemmat nauhoitukset!</a>
      </p>

      <h2>Missä?</h2>

      <ul>
        <li>
          <a href="https://www.facebook.com/tuulipukukoodi/">Facebook-sivu</a>
        </li>
        <li>
          <a href="https://www.instagram.com/tuulipukukoodi/">Instagram-tili</a>
        </li>
        <li><a href="https://hearthis.at/tuulipukukoodi/">Hearthis-tili</a> (nauhoitukset)</li>
        <li>
          <a href="https://twitch.tv/tuulipukukoodi/">Twitch-tili</a> (suorat lähetykset)
        </li>
      </ul>

      <p class="text-gray-500">SOMEissa hästääk #tuulipukukoodi</p>

      <h2>Milloin?</h2>

      <p>Seuraava lähetys 15.4.2023 </p>

      <h2>Yhteys</h2>

      <p>Lähetä toiveita: toiveet@tuulipukukoodi.fi</p>
    </div>
  </div>
</template>
