@import '~tailwindcss/base.css';

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

body {
  @apply bg-black;
  @apply text-gray-100;
}

h1 {
  @apply text-center;
  @apply text-4xl;
  @apply text-gray-200;
  font-family: 'Kanit', sans-serif;

  @media (min-width: 768px) {
    @apply text-5xl;
  }
}

h2 {
  @apply text-2xl;
  @apply mt-5;
  @apply mb-2;
  @apply text-gray-200;
  font-family: 'Kanit', sans-serif;
}

.subheading {
  font-family: 'Josefin Sans', sans-serif;
  @apply text-center;
  @apply text-gray-400;
  @apply uppercase;
  @apply -mt-2;
  @apply text-sm;
  @apply tracking-widest;
}

h3 {
  @apply text-xl;
  @apply text-gray-200;
  @apply font-bold;

  font-family: 'Kanit', sans-serif;
}

a {
  @apply underline;
  @apply text-purple-500;
}

p {
  @apply my-4;
}

@import '~tailwindcss/components.css';

@import '~tailwindcss/utilities.css';
